html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  border: 0;
  scroll-behavior: smooth;
  font-family: var(--font-titilliumweb);
}

header,
main,
footer {
  max-width: 1920px;
  margin: 0 auto;
}
