h1,
h2,
h3 {
  line-height: 1.1;
  margin-top: 0;
}

h1,
h3,
h6,
p {
  font-family: var(--font-titilliumweb);
}

h2,
h4,
h5 {
  font-family: var(--font-gilroy);
}

h1 {
  font-weight: var(--bold);
  font-size: 40px;
}

h2 {
  font-weight: var(--bold);
  font-size: 26px;
}

h4 {
  font-weight: var(--semibold);
  font-size: 20px;
}

h5 {
  font-weight: var(--bold);
  font-size: 18px;
}

h6 {
  font-weight: var(--light);
  font-size: 14px;
}

p {
  font-weight: var(--regular);
  font-size: 16px;
}

ul {
  list-style-type: none;
}

a,
a:visited,
a:active {
  text-decoration: none;
  cursor: pointer;
}
