:root {
  /*      Theme colors        */
  --white: #fefefe;
  --white-smoke: #8b8b8b;
  --dark: #1b1c1e;
  --light-green: #2d984b;
  --soft-green: #1c8a3b;

  /*       Fonts style       */
  --font-titilliumweb: 'TitilliumWeb', sans serif;
  --font-gilroy: 'Gilroy', sans serif;
  --thin: 100;
  --ultralight: 200;
  --light: 300;
  --regular: 400;
  --semibold: 500;
  --bold: 600;
  --extrabold: 700;
  --black: 800;
  --heavy: 900;
}
